<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">
    <link rel="stylesheet" type="text/css" href="../static/css/slick.css"/>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Catálogo Moda Masculina</title>
    <link rel="stylesheet" type="text/css" href="../static/css/wing.min.css">
    <style type="text/css"></style>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
  <body>
    <header class="menu-principal">
      <main>
        <div class="header-1">
          <div class="logo">
            <img src="../static/img/pic1 logo.png" />
          </div>
          <div class="redes-sociais">
            <ul>
              <li>
                <a href="">
                  <img src="../static/img/in.png" />
                </a>
              </li>
              <li>
                <a href="">
                  <img src="../static/img/git.png" />
                </a>
              </li>
            </ul>
          </div>
        </div>
      </main>
    </header>
    <main class="col-100 menu urls">
      <div class="header-2">
        <div class="menu">
          <ul>
            <li>
              <a href="/">Inicio</a>
            </li>
            <li>
              <a href="#Sobre-Nos">Sobre Nós</a>
            </li>
            <li>
              <a href="#Roupas-Masculinas">Roupas Masculinas</a>
            </li>
            <li>
              <a href="/cadastro">Cadastro</a>
            </li>
           <li>
              <a href="#Contato">Contato</a>
            </li>
           </ul>
        </div>
          <div class="busca">
            <input placeholder="Buscar" type="text" />
      </div>
      </div>
    </main>
    <div class="col-100">
        <div class="slider-principal">
            <img src="../static/img/banner11.png" max-widt= "100%" height="110" width="510" object-fit: cover/>
            <img src="../static/img/banner15 (1).png" max-widt= "100%" height="110" width="510" object-fit: cover/>
            <img src="../static/img/banner14 (1).png" max-widt= "100%" height="110" width="510" object-fit: cover/>
        </div>
    </div>
    <div class="col-100" id="Sobre-Nos">
      <div class="content texto-destaque">
        <h1><strong>Sobre Nós</strong></h1>
        <p>Meu projeto final do módulo 2 da Bluetech é referente a um catálogo. O meu é um catálogo de pedidos de roupas masculinas.<br> 
         Nele contém uma página inicial, com uma pequena apresentação sobre mim, algumas peças de roupas masculina com uma breve descrição, uma página de cadastro e uma área de contato.</p>
      
      <div class="col-3 bloco-texto">
        <img src="../static/img/celo.jpg">
        <h3>Olá!</h3> 
          <p>Estou entrando na área de DEV, estou curtindo o aprendizado, gosto de front e gosto muito de back. Vou estudar bastante pra seguir carreira.</p>
      </div>
      <div class="col-3 bloco-texto">
        <img src="../static/img/linkedin.png">
        <h3>Veja meu Linkedin!</h3> 
        <p>Tenho mais de 10 anos em suporte em informática e estou em transição de carreira para desenvolvedor backend.</p>
        <p>
          <a href="https://www.linkedin.com/in/marcelo-da-rocha-machado-38b77427/" target="_blank">Clique aqui</a>.
          </p>
      </div>
      <div class="col-3 bloco-texto">
        <img src="../static/img/github.png">
        <h3>Veja meu Github!</h3> 
        <p>Já com alguns projetos em backend e frontend, desenvolvidos durante o curso da Bluetech.</p>
        <p>
          <a href="https://github.com/machadomrm/" target="_blank" >Clique aqui</a>.
          </p>
      </div>
      </div>
    </div>


    <div class="col-100 bloco-imagens-texto" id="Roupas-Masculinas">
      <div class="content" style="margin-left: 20%; float: left;">
          <div class="col-3 bloco-texto bloco-imagem">
              <img src="../static/img/calça social.png">
              <p><b>Estilo Clássico</b></p>
              <p>Chino Respirável Macio O negócio Casual Reto Calças Calças Côr Sólida Comprimento total Clássico Azul Cáqui Cinza Claro Preto
              </p>
          </div>
          <div class="col-3 bloco-texto bloco-imagem">
              <img src="../static/img/colete.png">
              <p><b>Colete de Terno</b></p>
              <p>Colete Festa Festival Casual Vintage Formais Xadrez Comum 1 Botão Delgado Misto de Algodão / Verde Tropa / Verde - Colarinho de Camisa
              </p>
          </div>
          <div class="col-3 bloco-texto bloco-imagem">
              <img src="../static/img/calça sport.png">
              <p><b>Calças Streetwear</b></p>
              <p>cargo masculinas com vários bolsos calças hiphop punk esportivo harém primavera outono
              </p>
          </div>
      </div>
      <div class="content" style="margin-left: 20%; float: left;">
          <div class="col-3 bloco-texto bloco-imagem">
              <img src="../static/img/camisa sport.png">
              <p><b>Camisa Social Sólido </b></p>
              <p>Com Cordão Manga Longa Casual Blusas Casual Moda Respirável Confortável Decote Redondo Cáqui Branco Preto
              </p>
          </div>
          <div class="col-3 bloco-texto bloco-imagem">
              <img src="../static/img/intima 1.png">
              <p><b>Shorts & Calças</b></p>
              <p>De Praia roupa de banho Sólido Roupa de Banho Fatos de banho Branco Preto Azul
              </p>
          </div>
          <div class="col-3 bloco-texto bloco-imagem">
              <img src="../static/img/intima 2.png">
              <p><b>Shorts & Calças</b></p>
              <p>De Praia roupa de banho Estampa Colorida Azul Claro Azul Roupa de Banho Fatos de banho
              </p>
          </div>
      </div>
  </div>
  <div class="col-100 cadastro" id="Cadastro">
      <div class="content">
        <h1><strong>Cadastro</strong></h1>
        <p>Venha logo!!! <br>
        Conheça nosso grande estilista!!! Cadastre seu pedido de roupa masculina, que será desenhado e enviado o croqui para você.<br> 
         Com ele você poderá enviar para seu(ua) costureiro(a) e fazer inveja aos seus amigos.</p>
         <a href="/cadastro" target="_blank" >Cadastre seu Pedido</a>.
      </div>
  </div>
 
  <footer class="col-100 contato" id="Contato">
      <div class="content">

          <p>
              Endereço Rua Sr. do Monte, 601. São Paulo, SP. Brasil. Telefone: +55 (11) 95555.5555<br>
              &copy; Marcelo Rocha Machado
          </p>
      </div>
    </footer>

    <script
      type="text/javascript"
      src="../static/js/jquery.js"
    ></script>
    <script
      type="text/javascript"
      src="../static/js/jquery-migrate.js"
    ></script>
    <script
      type="text/javascript"
      src="../static/js/slick.min.js"
    ></script>
    <script type="text/javascript" src="../static/js/main.js"></script>
  </body>
</html>
